<div class="login-container">
  <div class="login-card">
    <h1>Election System</h1>

    <p class="subtitle">Login to your account</p>

    <div class="input-group">
      <span class="icon">📧</span>
      <input type="email" placeholder="Email" />
    </div>

    <div class="input-group">
      <span class="icon">🔒</span>
      <input type="password" placeholder="Password" />
    </div>

    <button class="login-btn">Login</button>
  </div>
  <div
    [style.background-image]="'url(low.jpg)'"
    style="height: 100vh; background-size: cover"
  ></div>
</div>
