.login-container {
  height: 100vh;
  width: 100%;
  background-image: url('/oks.png'); /* change if inside assets */
  background-size:100%;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end; /* pushes card to right */
  align-items: center;
  padding-right: 180px; /* space from right edge */
}


.login-card {
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 25px;

  /* soft gradient background */
  background: linear-gradient(
    145deg,
    rgba(251, 251, 251, 0.95),
    rgba(240, 240, 240, 0.9)
  );

  /* Glass effect */
  background: rgba(255, 255, 255, 0.512);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.644);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  text-align: center;
  color: rgb(0, 0, 0);
}


/* LOGO (FIXED — moved outside gradient) */
.logo-container img {
  width: 200px;      /* adjust size */
  height: auto;      /* keeps aspect ratio */
  margin-bottom: 10px; /* space below logo */
}

/* TITLE */
  .login-card h1 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, bold;
  
  }


/* SUBTITLE */
.subtitle {
  font-size: 16px;
  color: #323232ed;
  margin-bottom: 25px;
}


/* INPUT GROUP */
.input-group {
  display: flex;
  align-items: center;

  background: #f2f2f2;
  border-radius: 14px;

  padding: 8px 14px;
  margin-bottom: 20px;

  border: 1px solid #e0e0e0;
}

.input-placeholder{
  font-size: 5px;
}

/* INPUT ICON */
.icon {
  margin-right: 10px;
  font-size: 15px;
}


/* INPUT FIELD */
.input-group input {
  border: none;
  outline: none;
  background: transparent;

  width: 100%;
  font-size: 14px;
}


/* LOGIN BUTTON */
.login-btn {
  width: 150px;
  padding: 15px;

  border-radius: 14px;
  border: none;

  background: #4CAF50;
  color: white;

  font-size: 16px;
  font-weight: 600;

  margin-top: 20px;
  cursor: pointer;

  margin-bottom: 10px;

  transition: 0.3s ease;
}

.login-btn:hover {
  background: #43a047;
  transform: translateY(-2px);
}


/* SIGN UP TEXT */
.signup-text {
  text-align: center;
  margin-top: 25px;
  color: #666;
}

  .signup-text a {
    color: #2f6fd6;
    text-decoration: none;
      font-weight: 600;
}
.input-group input::placeholder {
  color: #2222229c;
  opacity: 1;
}
