.login-container {
  height: 100vh;
  width: 100%;
  background-image: url('/low.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end; /* changed from center to the right side */
  align-items: center;
  padding-right: 60px; /* added padding sa right */
}

.login-card {
  background: rgb(245, 236, 236);
  backdrop-filter: blur(10px);
  border-radius: 45px;
  padding: 40px 30px;
  width: 100%;
  max-width: 380px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  font-family: sans-serif;
}

.login-card h1 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #f5ebeb;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 25px;
  color: rgb(242, 236, 236);
  font-size: large;
}

.input-group {
  display: flex;
  align-items: center;
  background: rgba(247, 242, 242, 0.945);
  border-radius: 8px;
  padding: 10px 12px;
  margin-bottom: 15px;
}

.input-group .icon {
  margin-right: 10px;
  font-size: 20px;
  color: rgb(244, 240, 240);
}

.input-group input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #385bf3;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(244, 244, 247, 0.2);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.login-header {
  display: flex;
  flex-direction: column; /* THIS MAKES IT VERTICAL */
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
