.login-container {
  height: 100vh;
  width: 100%;
  background-image: url('/low.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end; /* changed from center to the right side */
  align-items: center;
  padding-right: 80px; /* added padding sa right */
}

.login-card {
  background: white; /* solid color */
  border-radius: 45px;
  padding: 40px 30px;
  width: 100%;
  max-width: 380px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  font-family: sans-serif;
}

.login-card h1 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #070707;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 25px;
  color: rgb(15, 14, 14);
  font-size: large;
}

.input-group {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px 12px;
  margin-bottom: 15px;
}

.input-group .icon {
  margin-right: 10px;
  font-size: 20px;
  color: rgb(16, 15, 15);
}

.input-group input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #262f58;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(102, 126, 234, 0.2);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: auto;
  object-fit: contain;
  height: auto;
}
