<div class="login-container">
  <div class="login-card">
    <div class="logo-container">
      <img src="/logo.png" alt="logo" class="logo" />
    </div>
    <form (ngSubmit)="login()">
      <h1>Online Voting & Elections</h1>
      <p class="subtitle">Login to your account</p>

      <div class="input-group">
        <span class="icon">📧</span>
        <input type="email" placeholder="Email" />
      </div>

      <div class="input-group">
        <span class="icon">🔒</span>
        <input type="password" placeholder="Password" />
      </div>

      <button type="submit" class="login-btn">Login</button>
    </form>
  </div>
</div>
