.login-container {
  height: 100vh;
  width: 100%;
  background-image: url('/oks.jpg'); /* change if inside assets */
  background-size:100%;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end; /* pushes card to right */
  align-items: center;
  padding-right: 180px; /* space from right edge */
  margin-bottom: 0%;
}


.login-card {
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 25px;
  /* Existing shadow */
  box-shadow: 0 8px 20px rgba(34, 34, 34, 0.799);
  box-shadow: #121212 3px 2px 10px 0px;
  
  // /* Glassmorphism styles */
  // background: rgba(255, 255, 255, 0.2);
  // backdrop-filter: blur(10px);
  // -webkit-backdrop-filter: blur(10px);
  // border: 1px solid rgba(255, 255, 255, 0.3);

  /* Keep your background gradient as is */
  background: linear-gradient(
    rgb(255, 255, 255),
    rgb(94, 94, 94)
  );
}


/* LOGO (FIXED — moved outside gradient) */
.logo-container img {
  width: 200px;      /* adjust size */
  height: auto;      /* keeps aspect ratio */
  margin-bottom: 10px; /* space below logo */
}

/* TITLE */
  .login-card h1 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, bold;
  
  }


/* SUBTITLE */
.subtitle {
  font-size: 16px;
  color: #323232ed;
  margin-bottom: 25px;
}



/* INPUT GROUP */
.input-group {
  display: flex;
  align-items: center;

  background: #f2f2f2;
  border-radius: 14px;

  padding: 10px 14px;
  margin-bottom: 20px;

  border: 1px solid #e0e0e0;  

  box-shadow: #4a4a4a 3px 2px 10px 0px;
}

.input-placeholder{
  font-size: 5px;
}

/* INPUT ICON */
.icon {
  margin-right: 10px;
  font-size: 15px;
}


/* INPUT FIELD */
.input-group input {
  border: none;
  outline: none;
  background: transparent;

  width: 100%;
  font-size: 14px;
}


/* LOGIN BUTTON */
.login-btn {
  width: 150px;
  padding: 15px;

  border-radius: 14px;
  border: none;

  background: #23c84cd2;
  color: white;

  font-size: 16px;
  font-weight: 600;

  margin-top: 20px;
  cursor: pointer;

  margin-bottom: 10px;

  transition: 0.3s ease;
}

.login-btn:hover {
  background: #18772fd2;
  transform: translateY(-2px);
}

.invalid-message{
  color: red;
  font-size: small;
  font-style: italic;
  padding: 5px;
}
