.topbar {
  background-color: #415972;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
}

.topbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.title {
  color: #000000;
  margin: 0;
  font-size: 1.8em;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
  font-size: 1.2em;
}