<div class="layout">

  <!-- SIDENAV -->
  <app-sidenav></app-sidenav>

  <div class="main">

    <!-- TOPBAR -->
    <app-topbar></app-topbar>

    <!-- DASHBOARD CONTENT -->
    <div class="dashboard-content">

      <h2>Dashboard</h2>

      <div class="cards">

        <div class="card">
          <h3>Total Candidates</h3>
          <p>10</p>
        </div>

        <div class="card">
          <h3>Positions</h3>
          <p>5</p>
        </div>

        <div class="card">
          <h3>Your Voting Status</h3>
          <p>Not Voted</p>
        </div>

      </div>

    </div>

  </div>

</div>