<h2>Admin Dashboard</h2>

<div class="cards">
  <div class="card blue">
    <h3>Total Voters</h3>
    <p>1,200</p>
  </div>

  <div class="card green">
    <h3>Voted</h3>
    <p>800</p>
  </div>

  <div class="card orange">
    <h3>Not Voted</h3>
    <p>400</p>
  </div>

  <div class="card light">
    <h3>Total Candidates</h3>
    <p>15</p>
  </div>
</div>

<div class="status">
  <p>Election Status: <span class="active">Active ●</span></p>
  <button class="start">Start Election</button>
  <button class="end">End Election</button>
</div>
