<div class="sidenav">
  <div class="logo-section">
    <img src="assets/logo.png" alt="Logo" />
    <h2>USTP</h2>
    <span>Villanueva</span>
  </div>

  <nav>
    <ul>
      <li routerLink="/admin/dashboard" routerLinkActive="active">📊 Dashboard</li>
      <li routerLink="/admin/election" routerLinkActive="active">🗳 Election</li>
      <li routerLink="/admin/voters" routerLinkActive="active">👥 Voters</li>
      <li routerLink="/admin/results" routerLinkActive="active">📈 Results</li>
      <li routerLink="/admin/activitylogs" routerLinkActive="active">📋 Activity Log</li>
      <li routerLink="/admin/candidates" routerLinkActive="active">👤 Candidates</li>
    </ul>
  </nav>
</div>
